In [18]:
import pandas as pd
import scipy
from scipy import stats
from scipy.stats import t
import numpy as np

# Q1

In [29]:
cut=pd.read_csv("E:/SHRADDHA/DA-DS Assignments/DS Assignments/3.A_Hypothesis Testing/Cutlets.csv")
cut.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

*Null Hypothesis : There is no significance difference in the diameters of the cutlets of the two units.
*Alternative Hypothesis : There is difference in the diameters.

alpha(a) = 0.05 as per given.

In [37]:
unitA=pd.Series(cut.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [38]:
unitB=pd.Series(cut.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [39]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [40]:
p_value[1]

0.4722394724599501

p>a. So, accept Null Hypothesis. Hence, there is no significant difference in the diameters of the cutlets of the two units.

# Q2

In [2]:
lab=pd.read_csv("E:/SHRADDHA/DA-DS Assignments/DS Assignments/A_Hypothesis Testing/LabTAT.csv")
lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

*Null hypo: no diff in avg TAT.
*Alt hypo: diff in avg TAT.

In [4]:
p_value=stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

p<a. So, accept Alternative Hypothesis.
There is difference in the average TAT.

# Q3

In [7]:
buy=pd.read_csv("E:/SHRADDHA/DA-DS Assignments/DS Assignments/A_Hypothesis Testing/BuyerRatio.csv")
buy.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [8]:
buy.drop(["Observed Values"],axis=1,inplace=True)
buy

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [9]:
from scipy.stats import chi2_contingency

In [10]:
p_value=stats.chi2_contingency(buy)
p_value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [11]:
p_value[1]

0.6603094907091882

p>a(0.05). So, accept Null Hypothesis. Hence, all proportions are equal.

# Q4

In [3]:
data=pd.read_csv("E:/SHRADDHA/DA-DS Assignments/DS Assignments/A_Hypothesis Testing/Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [13]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [14]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [15]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [16]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [20]:
#contingency table
data1=np.array([[271,267,269,280],[29,33,31,20]])
data1

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [21]:
p_value = stats.chi2_contingency(data1)
p_value

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [22]:
p_value[1]

0.2771020991233135

p>a. So, aacept Null Hypothesis. Hence, defective percentage doesn't vary from centre.